.idea/
*.cmd
*.o
*.zip
*.symvers
*.order
*.ko
*.mod
*.swp
wireguard.mod.c
wireguard.mod
/tmp/**
**/target/
Cargo.lock
!userspace/wg-zk-daemon/Cargo.lock
!userspace/gen-pk/Cargo.lock
!userspace/gen-mlkem/Cargo.lock
.config
*.txt
vagrant/keys/
.env
__pycache__/
.vagrant/
vagrant/wgzk-base.box
vagrant/artifacts/
vagrant/build-base/.vagrant/
*-cloudimg-console.log
bench/rigs/
